html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
  max-width: 1500px;
  padding: 0 auto;
  margin: 0 auto;
  background-color: #fff;
}

.flex {
  display: flex;
}

.header-container {
  padding: 0 0 20px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.header-container:first-child {
  padding: 20px 0 0 0;
}

.main-content {
  min-height: 87vh;
  color: #fff;
  background-color: #070217;;
}

hr {
  width: 50%;
}

.logo {
  display: block;
  margin: 0;
  margin-bottom: 50px;
}

.articles {
  height: 55vh;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid white;
}

.articles-links {
  width: 50%;
  margin: 0;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
}

.python__link {
  position: relative;
  background: url('../img/codeby-python-h.jpg') no-repeat center / cover;
  border-right: 1px solid white ;
}

.overlay__python {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  transition: opacity .4s ease-in-out;
  opacity: 0;
  background: black;
  z-index: 15;
  font-size: 30px;
}

.python__link:hover .overlay__python {
  opacity: 100%;
}

.front__link:hover .overlay__python {
  opacity: 100%;
}

.front__link {
  position: relative;
  justify-content: center;
  align-items: center;
  background: url('../img/hero-bg.jpg') no-repeat center / cover;
}

.front__link img {
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  opacity: 50%;
  z-index: 5;
}

.contacts {
  margin: 0;
  padding-top: 60px;
  background-color: #070217;
  font-size: 20px;
}

.contacts-list {
  margin: 0;
  padding-bottom: 40px;
  justify-content: space-between;
  color: #fff;
}

.contacts-list-item {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33%;
}

.contacts-list-item span {
  padding: 10px;
  padding-top: 0;
}

.contacts-list-item span {
  background-color: #3f2aff;
}

.vk {
  padding-top: 70px;
  background: url('../img/VK.png') no-repeat top center / contain;
}

.inst {
  padding-top: 70px;
  background: url('../img/Instagram.png') no-repeat top center / contain;
}

.wat {
  padding-top: 70px;
  background: url('../img/WhatsApp.png') no-repeat top center / contain;
}


.copy {
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-size: 19px;
  background-color: #070217;;
}

.copy p {
  margin: 0;
  margin-right: 30px;
  padding: 10px;
  padding-bottom: 0;
  display: inline-block;
  color: #fff;
  background-color: #3f2aff;
}

.copy span {
  margin-left: 30px;
  padding: 10px;
  color: #fff;
  background-color: #3f2aff;
}
