@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'), url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'), url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'), url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.flex {
  display: flex;
}

.section {
  padding: 250px 0;
  border-bottom: 2px solid chocolate;
  border-top: 2px solid blue;
  background-color: #13161b;
}

.section-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
  margin-left: 30px;
  padding: 0 20px 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  background-color: blue;
}

.header {
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  background-color: #fff;
}

.header-container {
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.nav-list-item a:hover {
  color: blue;
  border-bottom: 1px solid chocolate;
}

.nav-list-item:not(:last-child) {
  margin-right: 20px;
}

.hero {
  align-items: center;
  background: url('../img/hero-bg.jpg') no-repeat center center / cover;
  height: 100vh;
}

.hero-container {
  flex-direction: column;
}

.hero-title {
  margin: 0;
  margin-bottom: 50px;
  max-width: 70%;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: aliceblue;
}

.hero-title span {
  padding: 0 20px 10px;
  background-color: blue;
}

.hero-title strong {
  margin-left: 30px;
  padding: 0 20px 10px;
  background-color: chocolate;
}

.hero-descr {
  align-self: flex-end;
  max-width: 70%;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.descr-1 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px 10px;
  background-color: blue;
}

.descr-2 {
  margin: 0;
  margin-right: 30px;
  padding: 0 20px 10px;
  background-color: chocolate;
}

.skills {
  background-color: #13161b;
}

.skills-list {
  margin-bottom: 40px;
  justify-content: space-between;
  color: #fff;
}

.skills-list-item {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33%;
}

.skills-list-item-title {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px 10px;
  background-color: chocolate;
}

.skills-list-item-descr {
  align-self: stretch;
  margin: 0;
  padding: 0 20px 10px;
  background-color: blue;
}

.show-wrapper {
  margin: 0 auto;
   max-width: 400px;
}

.show {
  padding: 0 20px 10px;
  width: 400px;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: chocolate;
  border: 2px solid blue;
}

.loca {
  background-color: #13161b;
}

.loca-list {
  justify-content: space-between;
  color: #fff;
}

.loca-list-item {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 40%;
}

.loca-list-item-title {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px 10px;
  background-color: chocolate;
}

.loca-list-item-descr {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px 10px;
  background-color: blue;
}

.loca-list-item-descr span {
  text-transform: uppercase;
  background-color: chocolate;
}

.loca-list-item-descr-2 {
  align-self: flex-end;
  margin: 0;
  padding: 0 20px 10px;
  background-color: chocolate;
}

.contacts {
  background-color: #13161b;
}

.contacts-title {
  margin-bottom: 90px;
}

.contacts-list {
  margin-bottom: 40px;
  justify-content: space-between;
  color: #fff;
}

.contacts-list-item {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 33%;
}

.contacts-list-item span {
  background-color: chocolate;
}

.vk {
  padding-top: 70px;
  background: url('../img/VK.png') no-repeat top center / contain;
}

.inst {
  padding-top: 70px;
  background: url('../img/Instagram.png') no-repeat top center / contain;
}

.wat {
  padding-top: 70px;
  background: url('../img/WhatsApp.png') no-repeat top center / contain;
}

.copy {
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.copy p {
  margin: 0;
  margin-right: 30px;
  display: inline-block;
  color: #fff;
  background-color: blue;
}

.copy span {
  margin-left: 30px;
  color: #fff;
  background-color: chocolate;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 	960px;
  }

  .nav-list-item {
    font-size: 22px;
  }

  .hero-title {
    max-width: 75%;
  }

  .hero-descr {
    font-size: 25px;
  }

  .section-title {
    font-size: 55px;
  }

  .skills-list-item-title {
    font-size: 40px;
  }

  .skills-list-item-descr {
    font-size: 26px;
  }

  .show {
    font-size: 25px;
  }

  .loca-list-item-title {
    font-size: 40px;
  }

  .loca-list-item-descr, .loca-list-item-descr-2 {
    font-size: 26px;
  }

  .contacts-list-item {
    font-size: 22px;
  }

  .copy {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 	730px;
  }

  .logo {
    width: 100%;
  }

  .nav {
    display: none;
  }

  .hero-title {
    max-width: 100%;
    font-size: 61px;
  }

  .hero-descr {
    max-width: 100%;
    font-size: 31px;
  }

  .descr-2 {
    margin-right: 0;
  }

  .section-title {
    margin-left: 0;
    font-size: 67px;
  }

  .skills-list {
    flex-direction: column;
    align-self: center;
  }

  .skills-list-item {
    width: 100%;
  }

  .skills-list-item-title {
    font-size: 60px;
  }

  .skills-list-item-descr {
    font-size: 32px;
  }

  .show-wrapper, .show {
    max-width: 100%;
    width: 100%;
    font-size: 32px;
  }

  .loca-list {
    flex-direction: column;
    justify-content: center;
  }

  .loca-list-item {
    margin-bottom: 20px;
    width: 100%;
  }

  .loca-list-item-title {
    font-size: 60px;
  }

  .loca-list-item-descr, .loca-list-item-descr-2 {
    font-size: 32px;
  }

  .contacts-list {
    flex-direction: column;
    justify-content: center;
  }

  .contacts-list-item {
    margin-bottom: 20px;
    width: 100%;
    font-size: 50px;
  }

  .inst,
  .vk,
  .wat {
    padding-top: 115px;
  }

  .copy {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 	540px;
  }
}
